Primeiro passo importando as bibliotecas

In [2]:
import pandas as pd
import csv #importando csv
import requests

- A pesquisa ficou adestrita a região do vale do Jauru

- Região vale do Jauru

        Araputanga
        Figueirópolis d'Oeste
        Glória d'Oeste
        Indiavaí
        Jauru
        Lambari d'Oeste
        Mirassol d'Oeste
        Porto Esperidião
        Reserva do Cabaçal
        Rio Branco
        Salto do Céu
        São José dos Quatro Marcos

In [3]:

cidade_link = open('src/arquivos.csv')

implementa = csv.DictReader(cidade_link)
#a leitura só funcionara com os parametros abaixo com o parametro acimas

for inplemente in implementa:
    #lendo arquivo python para rastrear o separador
    carregar_separador = open(inplemente['link'],encoding='ISO-8859-1')
    separa = csv.Sniffer().sniff(carregar_separador.read())
    separador = separa.delimiter
    print("Tipo de separador definido foi --> ", separador)
    #---------------------------------------
    #dividindo municipio para colocar na variavel de nome    
    dividi_municipio = inplemente['municipio'].split(' ')# o codigo dividi o nome do municipio
    #----------------------------------------------
    
    # Carregando csv no pandas 
    servidores = pd.read_csv(inplemente['link']#chama o arquivo csv 
                             ,sep=separador #informa o separador do arquivo
                             ,encoding='ISO-8859-1', #informa a codificação do arquivo
                             error_bad_lines=False,
                             engine='python') #trata os erros nas linhas
    nome_variavel = 'servidores_{}'.format(dividi_municipio[0])     #alterando o nome da variavel
    globals()[nome_variavel] = servidores
    globals()[nome_variavel]['Municipio'] = inplemente['municipio']
    print(nome_variavel)
    print('-------------------------')

Tipo de separador definido foi -->  ,
servidores_Figueirópolis
-------------------------
Tipo de separador definido foi -->  ,
servidores_Figueirópolis
-------------------------
Tipo de separador definido foi -->  ;
servidores_Indiavaí
-------------------------
Tipo de separador definido foi -->  ;
servidores_Indiavaí
-------------------------
Tipo de separador definido foi -->  ;
servidores_Jauru
-------------------------
Tipo de separador definido foi -->  ;
servidores_Jauru
-------------------------
Tipo de separador definido foi -->  ;
servidores_Lambari
-------------------------
Tipo de separador definido foi -->  ;
servidores_Lambari
-------------------------
Tipo de separador definido foi -->  ;
servidores_Mirassol
-------------------------
Tipo de separador definido foi -->  ;
servidores_Mirassol
-------------------------
Tipo de separador definido foi -->  ;
servidores_Porto
-------------------------
Tipo de separador definido foi -->  ;
servidores_Porto
-------------------------
Tipo de separador definido foi -->  ;
servidores_Reserva
-------------------------
Tipo de separador definido foi -->  ;
servidores_Reserva
-------------------------
Tipo de separador definido foi -->  ;
servidores_Rio
-------------------------
Tipo de separador definido foi -->  ;
servidores_Rio
-------------------------
Tipo de separador definido foi -->  ;
servidores_Salto
-------------------------
Tipo de separador definido foi -->  ;
servidores_Salto
-------------------------
Tipo de separador definido foi -->  ;
servidores_São
-------------------------
Tipo de separador definido foi -->  ;
servidores_São
-------------------------
Tipo de separador definido foi -->  ;
servidores_Araputanga
-------------------------

- foi necessario criar uma variavel com todos os servidores dos municipios da região oeste

In [4]:
servidores_municipio_região_oeste = servidores_Lambari, servidores_Indiavaí, servidores_Jauru, servidores_Mirassol, servidores_Porto, servidores_Reserva, servidores_São, servidores_Figueirópolis,servidores_Salto, servidores_Rio, servidores_Araputanga

In [5]:
resultado = pd.concat(servidores_municipio_região_oeste)
#salvando os dados dos servidores da região oeste em CSV
resultado.to_csv('servidores_selecionado.csv')

In [6]:
#exibindo os dados referente a região oeste 
resultado.head()

,Detalhe,Referência,Matrícula,Data Desligamento,Tipo de Contrato,Vínculo,Nome,Cargo,Cargo inicial,Proventos,Descontos,Líquido,Divisão,Subdivisão,Unidade,Categoria Funcional,Data Prevista Termino Contrato,Municipio,Data Admissão
0,NaN,Folha Mensal - Maio,195.0,NaN,Efetivo,Servidor Público Efetivo,ADIR DE SOUZA LEITE,FISCAL SANITARIO,FISCAL SANITARIO,"2.385,40","279,31","2.106,09",SECRETARIA MUNICIPAL DE SAUDE,FUNDO MUNICIPAL DE SAUDE,MAUNT.ENC.FUNDO MUNICIPAL E SAUDE - EFETIVO,EFETIVO,NaN,Lambari d'Oeste,NaN
1,NaN,Folha Mensal - Maio,1810.0,NaN,Efetivo,Servidor Público Efetivo,ADRIANA APARECIDA LUIZ SEGANTINI,TECNICO EM ENFERMAGEM,TECNICO EM ENFERMAGEM,"3.215,66","708,42","2.507,24",SECRETARIA MUNICIPAL DE SAUDE,FUNDO MUNICIPAL DE SAUDE,MAUNT.ENC.FUNDO MUNICIPAL E SAUDE - EFETIVO,EFETIVO,NaN,Lambari d'Oeste,NaN
2,NaN,Folha Mensal - Maio,2.0,NaN,Efetivo,Servidor Público Efetivo,AILTON ALMEIDA PEREIRA,OPERADOR DE MAQUINAS,OPERADOR DE MAQUINAS,"2.956,45","409,31","2.547,14",SEC. MUN. DE INFRA ESTRUTURA,DPTO DE VIACAO E OBRAS,MANUT.ENC. SEC MUN. DE INFRA ESTRUTURA-EFETIVO,EFETIVO,NaN,Lambari d'Oeste,NaN
3,NaN,Folha Mensal - Maio,267.0,NaN,Contrato Temporário,Contrato Prazo Determ. (RJU),ALDAIR DIAS MARTINS,AGENTE COMUNITARIO DE SAUDE,AGENTE COMUNITARIO DE SAUDE,"1.600,00","134,97","1.465,03",SECRETARIA MUNICIPAL DE SAUDE,FUNDO MUNICIPAL DE SAUDE,MAN.PROG. AGENTES COMUNIT DE SAUDE-PACS - CONT...,CONTRATADO,NaN,Lambari d'Oeste,NaN
4,NaN,Folha Mensal - Maio,2318.0,NaN,Contrato Temporário,Contrato Prazo Determ. (RJU),ALINE BATISTA DE SOUZA,PROFESSOR NIVEL SUPERIOR-06 H,PROFESSOR NIVEL SUPERIOR-06 H,"772,58","57,94","714,64",SEC. MUN. DE EDUCACAO E CULTURA,FUNDEB,MANUT. FUNDEB 60% CONTRATADO,CONTRATADO,NaN,Lambari d'Oeste,NaN

In [7]:
# Objetivo ->    Separando os dados desejados
# Motivo   ->    A tabela estava muito populada com dados que não eram necessarios
# Ação     ->    Ver quais tabelas são necessarias e isolar somente a elas    
resultado = resultado[['Nome', 'Cargo', 'Cargo inicial', 'Municipio']]
resultado.head()

,Nome,Cargo,Cargo inicial,Municipio
0,ADIR DE SOUZA LEITE,FISCAL SANITARIO,FISCAL SANITARIO,Lambari d'Oeste
1,ADRIANA APARECIDA LUIZ SEGANTINI,TECNICO EM ENFERMAGEM,TECNICO EM ENFERMAGEM,Lambari d'Oeste
2,AILTON ALMEIDA PEREIRA,OPERADOR DE MAQUINAS,OPERADOR DE MAQUINAS,Lambari d'Oeste
3,ALDAIR DIAS MARTINS,AGENTE COMUNITARIO DE SAUDE,AGENTE COMUNITARIO DE SAUDE,Lambari d'Oeste
4,ALINE BATISTA DE SOUZA,PROFESSOR NIVEL SUPERIOR-06 H,PROFESSOR NIVEL SUPERIOR-06 H,Lambari d'Oeste

# Objetivo
- Baixar dados do auxilio de forma descentralizada

#### FONTE DE DADOS
- SITE BRASIL IO 
* https://brasil.io/dataset/govbr/auxilio_emergencial/

#### METODO
- baixar os dados por municipios e salvar
- **DIFICULDADES**
    - O ARQUIVO VINHA COM MASCARA ENTÃO ORDENOU POR NUMERO PARA IMPLEMENTAR UMA BUSCA COM O FOR

Implementando codigo para unir dados baixados do site brasil io

In [8]:
for i in range(1,12):
    print('df'+str(i))
    df = pd.read_csv("src/dados_brasil_io/govbr-{}.csv".format(i))
    nome_variavel = 'df{}'.format(i)
    globals()[nome_variavel] = df

df1
df2
df3
df4
df5
df6
df7
df8
df9
df10
df11

**Unindo os dataframes**

In [9]:
auxilio_emergencial = df1, df2, df3, df4, df5, df6, df7, df8, df9, df10 ,df11
auxilio_emergencial_vale_jauru = pd.concat(auxilio_emergencial)

In [10]:
auxilio_emergencial_vale_jauru

,ano_mes,uf,municipio,nis_beneficiario,cpf_beneficiario,beneficiario,nis_responsavel,cpf_responsavel,responsavel,enquadramento,parcela,valor
0,202005,MT,Indiavaí,NaN,***200171**,ADELSON GOMES SILVA,-2,NaN,NaN,EXTRA CADUN,1,600.0
1,202005,MT,Indiavaí,NaN,***397728**,ALINE DIAS MAGALHAES,-2,NaN,NaN,EXTRA CADUN,1,600.0
2,202005,MT,Indiavaí,NaN,***996641**,ANA PAULA DA SILVA PRATES,-2,NaN,NaN,EXTRA CADUN,1,600.0
3,202005,MT,Indiavaí,NaN,***040361**,ANDERSON AUGUSTO DOS SANTOS,-2,NaN,NaN,EXTRA CADUN,1,600.0
4,202005,MT,Indiavaí,NaN,***887201**,ANDREIA PIRES BORGES,-2,NaN,NaN,EXTRA CADUN,1,1200.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1295,202004,MT,Rio Branco,NaN,***923871**,ZENAIDE VITTORAZZI RIOS,-2,NaN,NaN,EXTRA CADUN,1,1200.0
1296,202004,MT,Rio Branco,2.041920e+10,***364651**,ZENILDA MARQUES DE OLIVEIRA,20419196956,***364651**,ZENILDA MARQUES DE OLIVEIRA,BOLSA FAMILIA,1,600.0
1297,202004,MT,Rio Branco,2.041919e+10,***969521**,ZILDA ANDRADE DE ASSIS,20419186373,***969521**,ZILDA ANDRADE DE ASSIS,BOLSA FAMILIA,1,1200.0
1298,202004,MT,Rio Branco,2.092871e+10,***295061**,ZILDA SANTOS DE OLIVEIRA,-2,NaN,NaN,CADUN NAO BOLSA,1,600.0
1299,202004,MT,Rio Branco,2.005910e+10,***462501**,ZUMIRA DE OLIVEIRA CUNHA,20059096548,***462501**,ZUMIRA DE OLIVEIRA CUNHA,BOLSA FAMILIA,1,600.0

In [11]:
auxilio_emergencial_vale_jauru = auxilio_emergencial_vale_jauru.rename(columns={'beneficiario':'Nome'})
auxilio_emergencial_vale_jauru.head()

,ano_mes,uf,municipio,nis_beneficiario,cpf_beneficiario,Nome,nis_responsavel,cpf_responsavel,responsavel,enquadramento,parcela,valor
0,202005,MT,Indiavaí,NaN,***200171**,ADELSON GOMES SILVA,-2,NaN,NaN,EXTRA CADUN,1,600.0
1,202005,MT,Indiavaí,NaN,***397728**,ALINE DIAS MAGALHAES,-2,NaN,NaN,EXTRA CADUN,1,600.0
2,202005,MT,Indiavaí,NaN,***996641**,ANA PAULA DA SILVA PRATES,-2,NaN,NaN,EXTRA CADUN,1,600.0
3,202005,MT,Indiavaí,NaN,***040361**,ANDERSON AUGUSTO DOS SANTOS,-2,NaN,NaN,EXTRA CADUN,1,600.0
4,202005,MT,Indiavaí,NaN,***887201**,ANDREIA PIRES BORGES,-2,NaN,NaN,EXTRA CADUN,1,1200.0

In [12]:
# Objetivo ->    Separando os dados desejados
# Motivo   ->    A tabela estava muito populada com dados que não eram necessarios
# Ação     ->    Ver quais tabelas são necessarias e isolar somente a elas    
resultado = resultado[['Nome', 'Cargo', 'Cargo inicial', 'Municipio']]
auxilio_emergencial_vale_jauru_trat =auxilio_emergencial_vale_jauru[['municipio', 'cpf_beneficiario', 'enquadramento', 'Nome']]

In [13]:
ser_rec_aux = auxilio_emergencial_vale_jauru_trat.merge(resultado, on='Nome')

In [14]:
ser_rec_aux.head()

,municipio,cpf_beneficiario,enquadramento,Nome,Cargo,Cargo inicial,Municipio
0,Indiavaí,***200171**,EXTRA CADUN,ADELSON GOMES SILVA,ASSESSOR SUPERIOR I,ASSESSOR SUPERIOR I,Indiavaí
1,Indiavaí,***193421**,CADUN NAO BOLSA,EDILSON SOARES DE SOUZA,Gerencia de Cultura e Turismo,Gerencia de Cultura e Turismo,Indiavaí
2,Indiavaí,***692341**,EXTRA CADUN,JOSE CARLOS DA SILVA,GUARDA NOTURNO,GUARDA NOTURNO,Salto do Céu
3,São José dos Quatro Marcos,***553991**,BOLSA FAMILIA,JOSE CARLOS DA SILVA,GUARDA NOTURNO,GUARDA NOTURNO,Salto do Céu
4,São José dos Quatro Marcos,***791901**,BOLSA FAMILIA,JOSE CARLOS DA SILVA,GUARDA NOTURNO,GUARDA NOTURNO,Salto do Céu

# Observações
- Conforme observa-se na busca há servidores que tem mesmo nome (homonimos) em diversas Unidade Gestoras dessa forma faz-se necessario fazer uma comparação no mesmo municipio.
- tem como objetivo isolar servidores pelo municipio que mesmo recebeu o auxilio e assim poder realmente comparar.
- Há formula abaixo não evita homonimos mas minimiza

In [15]:
# Abreviatura
# ser_rec_aux_mun  = Servidores que receberan Auxilio Emergencial por municipio
ser_rec_aux_mun = ser_rec_aux[ser_rec_aux['municipio'] == ser_rec_aux['Municipio']]
ser_rec_aux_mun.head()

,municipio,cpf_beneficiario,enquadramento,Nome,Cargo,Cargo inicial,Municipio
0,Indiavaí,***200171**,EXTRA CADUN,ADELSON GOMES SILVA,ASSESSOR SUPERIOR I,ASSESSOR SUPERIOR I,Indiavaí
1,Indiavaí,***193421**,CADUN NAO BOLSA,EDILSON SOARES DE SOUZA,Gerencia de Cultura e Turismo,Gerencia de Cultura e Turismo,Indiavaí
10,Indiavaí,***361201**,CADUN NAO BOLSA,REGINA DOS SANTOS JACINTO,CONSELHEIRO TUTELAR,CONSELHEIRO TUTELAR,Indiavaí
11,Porto Esperidião,***512091**,EXTRA CADUN,ELIMARA TOSSUE SOARES,PROFESSOR - NIVEL I - ENS.MEDIO,PROFESSOR - NIVEL I - ENS.MEDIO,Porto Esperidião
12,Porto Esperidião,***086441**,EXTRA CADUN,JOSE VANDER URUPE MASSAVI,PROFESSOR - NIVEL I - ENS.MEDIO,PROFESSOR DE NIVEL I,Porto Esperidião

In [16]:
ser_rec_aux_mun.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111 entries, 0 to 236
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   municipio         111 non-null    object
 1   cpf_beneficiario  111 non-null    object
 2   enquadramento     111 non-null    object
 3   Nome              111 non-null    object
 4   Cargo             111 non-null    object
 5   Cargo inicial     111 non-null    object
 6   Municipio         111 non-null    object
dtypes: object(7)
memory usage: 6.9+ KB

In [17]:
ser_rec_aux_mun.head(60)

,municipio,cpf_beneficiario,enquadramento,Nome,Cargo,Cargo inicial,Municipio
0,Indiavaí,***200171**,EXTRA CADUN,ADELSON GOMES SILVA,ASSESSOR SUPERIOR I,ASSESSOR SUPERIOR I,Indiavaí
1,Indiavaí,***193421**,CADUN NAO BOLSA,EDILSON SOARES DE SOUZA,Gerencia de Cultura e Turismo,Gerencia de Cultura e Turismo,Indiavaí
10,Indiavaí,***361201**,CADUN NAO BOLSA,REGINA DOS SANTOS JACINTO,CONSELHEIRO TUTELAR,CONSELHEIRO TUTELAR,Indiavaí
11,Porto Esperidião,***512091**,EXTRA CADUN,ELIMARA TOSSUE SOARES,PROFESSOR - NIVEL I - ENS.MEDIO,PROFESSOR - NIVEL I - ENS.MEDIO,Porto Esperidião
12,Porto Esperidião,***086441**,EXTRA CADUN,JOSE VANDER URUPE MASSAVI,PROFESSOR - NIVEL I - ENS.MEDIO,PROFESSOR DE NIVEL I,Porto Esperidião
13,Porto Esperidião,***403841**,EXTRA CADUN,LOYANE LEITE DE MIRANDA,PROFESSOR NIVEL I - BACHAREL,PROFESSOR NIVEL I - BACHAREL,Porto Esperidião
14,Porto Esperidião,***634471**,EXTRA CADUN,RONALDO DE ARRUDA FIALHO,ASSESSOR DE IMPRENSA,ASSESSOR DE IMPRENSA,Porto Esperidião
16,Porto Esperidião,***641261**,EXTRA CADUN,ALEX FABIANO SANTOS,MOTORISTA,MOTORISTA,Porto Esperidião
17,Porto Esperidião,***753688**,CADUN NAO BOLSA,ALVELINA MARIA DE JESUS,AGENTE DE SERVICOS GERAIS,AGENTE DE SERVICOS GERAIS,Porto Esperidião
18,Porto Esperidião,***475858**,EXTRA CADUN,ANDREIA CANDIDA DE OLIVEIRA,PROFESSOR DE NIVEL I,PROFESSOR DE NIVEL I,Porto Esperidião
19,Porto Esperidião,***569411**,EXTRA CADUN,ANTONIA EDILAINE COSTA MUQUICAI,PROFESSOR DE NIVEL I,PROFESSOR DE NIVEL I,Porto Esperidião
21,Porto Esperidião,***190592**,EXTRA CADUN,CLEYTON BORGES DA SILVA,MOTORISTA,MOTORISTA,Porto Esperidião
22,Porto Esperidião,***543811**,EXTRA CADUN,CRISTHIANE DUARTE CALIMERIO DE OLIVEIRA,PROFESSOR DE NIVEL I,PROFESSOR DE NIVEL I,Porto Esperidião
23,Porto Esperidião,***880311**,BOLSA FAMILIA,DANIELI FERNANDA TERCI ROBELO,PROFESSOR - NIVEL I - ENS.MEDIO,PROFESSOR - NIVEL I - ENS.MEDIO,Porto Esperidião
24,Porto Esperidião,***952421**,EXTRA CADUN,DANIELLA ALVES DA SILVA,PROFESSOR DE EDUC. FISICA,PROFESSOR DE EDUC. FISICA,Porto Esperidião
25,Porto Esperidião,***234831**,BOLSA FAMILIA,DAYANE CRISTINA DA SILVA ALVES,MERENDEIRA - COZINHEIRA,MERENDEIRA - COZINHEIRA,Porto Esperidião
26,Porto Esperidião,***085181**,CADUN NAO BOLSA,ELENIR TRAVA RICO SILVEIRA,PROFESSOR DE NIVEL I,PROFESSOR DE NIVEL I,Porto Esperidião
27,Porto Esperidião,***606961**,BOLSA FAMILIA,ELISANDRA PARA SALVATERRA,MERENDEIRA - COZINHEIRA,MERENDEIRA - COZINHEIRA,Porto Esperidião
28,Porto Esperidião,***109631**,BOLSA FAMILIA,ELVIS RAMOS,AGENTE DE SERVICOS GERAIS,AGENTE DE SERVICOS GERAIS,Porto Esperidião
30,Porto Esperidião,***511248**,EXTRA CADUN,GENILSON OLIVEIRA KIRY,PROFESSOR NIVEL I - BACHAREL,PROFESSOR NIVEL I - BACHAREL,Porto Esperidião
31,Porto Esperidião,***547351**,EXTRA CADUN,GILMAR DA SILVA SILVEIRA,MOTORISTA,MOTORISTA,Porto Esperidião
32,Porto Esperidião,***096781**,EXTRA CADUN,GISLENE SALVATERRA CARVALHO,PROFESSOR DE NIVEL I,PROFESSOR DE NIVEL I,Porto Esperidião
33,Porto Esperidião,***112891**,CADUN NAO BOLSA,GLEYCIANE URTADO LOPES,AGENTE ADMINISTRATIVO,AGENTE ADMINISTRATIVO,Porto Esperidião
34,Porto Esperidião,***569361**,EXTRA CADUN,IVANIA SALVATERRA,AGENTE DE SERVICOS GERAIS,AGENTE DE SERVICOS GERAIS,Porto Esperidião
35,Porto Esperidião,***306551**,BOLSA FAMILIA,IVANILCE VELASCO,MERENDEIRA - COZINHEIRA,MERENDEIRA - COZINHEIRA,Porto Esperidião
36,Porto Esperidião,***172831**,CADUN NAO BOLSA,JESSICA ORTEGA DOS SANTOS DE SOUZA,PROFESSOR DE NIVEL I,PROFESSOR DE NIVEL I,Porto Esperidião
40,Porto Esperidião,***842361**,CADUN NAO BOLSA,JOCENILDA JUPIE TOMICHA,AGENTE ADMINISTRATIVO,AGENTE ADMINISTRATIVO,Porto Esperidião
41,Porto Esperidião,***321731**,EXTRA CADUN,JUCELIA SANTIAGO ALVES,PROFESSOR DE NIVEL I,PROFESSOR DE NIVEL I,Porto Esperidião
42,Porto Esperidião,***457001**,EXTRA CADUN,KESIA PARA DA SILVA,PROFESSOR DE NIVEL I,PROFESSOR DE NIVEL I,Porto Esperidião
43,Porto Esperidião,***099051**,BOLSA FAMILIA,LAUANNE DE FATIMA MARQUES AGUILAR,AGENTE DE SERVICOS GERAIS,AGENTE DE SERVICOS GERAIS,Porto Esperidião
44,Porto Esperidião,***562561**,BOLSA FAMILIA,LUCIANE TOMICHA,MERENDEIRA - COZINHEIRA,MERENDEIRA - COZINHEIRA,Porto Esperidião
46,Porto Esperidião,***207231**,EXTRA CADUN,LUIZ CARLOS DE OLIVEIRA,MOTORISTA,MOTORISTA,Porto Esperidião
53,Salto do Céu,***187821**,EXTRA CADUN,MARIA APARECIDA DA SILVA,ZELADORA,ZELADORA,Salto do Céu
78,Jauru,***044851**,CADUN NAO BOLSA,MARIA APARECIDA DA SILVA,AUXILIAR DE SERVICOS GERAIS,AUXILIAR DE SERVICOS GERAIS,Jauru
80,Jauru,***755661**,EXTRA CADUN,MARIA APARECIDA DA SILVA,AUXILIAR DE SERVICOS GERAIS,AUXILIAR DE SERVICOS GERAIS,Jauru
99,Porto Esperidião,***293881**,CADUN NAO BOLSA,MARIA DE LOURDES PENHA,AGENTE DE SERVICOS GERAIS,AGENTE DE SERVICOS GERAIS,Porto Esperidião
101,Porto Esperidião,***868571**,EXTRA CADUN,MARIA ISABEL CALHAU,PROFESSOR DE NIVEL I,PROFESSOR DE NIVEL I,Porto Esperidião
102,Porto Esperidião,***690041**,BOLSA FAMILIA,MARILZA GRACIELA SURUBI,PROFESSOR DE NIVEL I,PROFESSOR DE NIVEL I,Porto Esperidião
103,Porto Esperidião,***619711**,EXTRA CADUN,MOISES MARCAL DA COSTA,MOTORISTA,MOTORISTA,Porto Esperidião
104,Porto Esperidião,***541571**,CADUN NAO BOLSA,NADIR RIBEIRO DE ANDRADE,MERENDEIRA - COZINHEIRA,MERENDEIRA - COZINHEIRA,Porto Esperidião
105,Porto Esperidião,***340601**,CADUN NAO BOLSA,NILDA SILVA ALVES,PROFESSOR DE NIVEL I,PROFESSOR DE NIVEL I,Porto Esperidião
107,Porto Esperidião,***201021**,CADUN NAO BOLSA,RITA DE CASSIA DA SILVA,AGENTE DE SERVICOS GERAIS,AGENTE DE SERVICOS GERAIS,Porto Esperidião
108,Porto Esperidião,***791281**,EXTRA CADUN,SERGIO FRANCO DE FARIAS,MOTORISTA,MOTORISTA,Porto Esperidião
109,Porto Esperidião,***902751**,BOLSA FAMILIA,SILVANA DOS SANTOS SILVA TOMAZ,PROFESSOR - NIVEL I - ENS.MEDIO,PROFESSOR - NIVEL I - ENS.MEDIO,Porto Esperidião
110,Porto Esperidião,***281221**,BOLSA FAMILIA,TAUANY RODRIGUES FONSECA,AGENTE DE SERVICOS GERAIS,AGENTE DE SERVICOS GERAIS,Porto Esperidião
111,Salto do Céu,***067931**,EXTRA CADUN,LUCILENE JACINTO DE MELO,AGENTE DE SAUDE,AGENTE DE SAUDE,Salto do Céu
112,Salto do Céu,***556011**,CADUN NAO BOLSA,GUIOMAR DE MEDEIROS RODRIGUES,CONSELHEIRO,CONSELHEIRO,Salto do Céu
116,Salto do Céu,***242521**,BOLSA FAMILIA,JULIANA RODRIGUES DE SOUZA,AUXILIAR DE SERVICOS GERAIS,AUXILIAR DE SERVICOS GERAIS,Salto do Céu
119,São José dos Quatro Marcos,***436221**,CADUN NAO BOLSA,CIRLENE VENTUROLI BOA,AUXILIAR DE SERVICOS INTERNOS - CE 01,AUXILIAR DE SERVICOS INTERNOS - CE 01,São José dos Quatro Marcos
120,São José dos Quatro Marcos,***199001**,EXTRA CADUN,DULCIMAR MAZETE JUSTIMIANO DOS SANTOS,AUXILIAR ADMINISTRATIVO - CE - 02,AUXILIAR ADMINISTRATIVO - CE - 02,São José dos Quatro Marcos
137,São José dos Quatro Marcos,***266297**,CADUN NAO BOLSA,NANCY DIAS PAVAO CANDELARIA,AGENTE COMUNITARIO DE SAUDE - CE 01,AGENTE COMUNITARIO DE SAUDE - CE 01,São José dos Quatro Marcos
138,São José dos Quatro Marcos,***266297**,CADUN NAO BOLSA,NANCY DIAS PAVAO CANDELARIA,AGENTE COMUNITARIO DE SAUDE - CE 01,AGENTE COMUNITARIO DE SAUDE - CE 01,São José dos Quatro Marcos
139,São José dos Quatro Marcos,***031561**,CADUN NAO BOLSA,ROZIANE ALVES CORREIA DE SOUZA,AUXILIAR DE SERVICOS INTERNOS - CE 01,AUXILIAR DE SERVICOS INTERNOS - CE 01,São José dos Quatro Marcos
140,São José dos Quatro Marcos,***212951**,CADUN NAO BOLSA,SONIA MARIA DOS SANTOS,PROFESSOR II - PEDAGOGIA,PROFESSOR II - PEDAGOGIA,São José dos Quatro Marcos
141,São José dos Quatro Marcos,***517361**,EXTRA CADUN,TUANY PEREIRA LOPES,PROFESSOR II - PEDAGOGIA,PROFESSOR II - PEDAGOGIA,São José dos Quatro Marcos
142,São José dos Quatro Marcos,***730711**,CADUN NAO BOLSA,VALDELANI SANTANA SANTOS,PROFESSOR II - PEDAGOGIA,PROFESSOR II - PEDAGOGIA,São José dos Quatro Marcos
143,Araputanga,***415141**,EXTRA CADUN,ALDAIR JOSE DE CARVALHO,CONSELHEIRO TUTELAR,CONSELHEIRO TUTELAR,Araputanga
144,Araputanga,***755191**,EXTRA CADUN,ALMENIS CANDIDA DE MORAES,GERENTE DE TRABALHO EMPREGO RENDA E CIDADANIA,GERENTE DE TRABALHO EMPREGO RENDA E CIDADANIA,Araputanga
145,Araputanga,***254521**,EXTRA CADUN,DEJENANE CANDIDA FERNANDES,APOIO ADMINISTRATIVO EDUCACIONAL,APOIO ADMINISTRATIVO EDUCACIONAL,Araputanga
146,Araputanga,***650581**,EXTRA CADUN,ETENOGONIO JAKS MOREIRA DIAS,VIGIA,VIGIA,Araputanga

In [30]:
df_municiopios_mt = pd.read_csv('src/dados_tce_mt/APLIC/MUNICIPIO_MT.csv', sep=';')

In [32]:
df_municiopios_mt.head()

,MUN_CODIGO,MUN_NOME,UF_SIGLA,ID_IBGE,POPULACAO,TERRITORIO,GRUPO_POPULACAO,CODIGO_DO_IBGE,GENTILICO,DENSIDADE_DEMOGRAFICA,SERIE_REVISADA,MUN_NOME_ORIGINAL,COMPATIBILIDADE_RF,CODIGO_DA_RF_01,CODIGO_DA_RF_02,CODIGO_MUNICIPIO_REGIAO
0,510010,ACORIZAL,MT,344,5399.0,"846,36",2.0,5100102.0,ACORIZANO,6.3,39790.0,ACORIZAL,NaN,90018,130100,7.0
1,510020,AGUA BOA,MT,345,25721.0,"7510,61",4.0,5100201.0,AGUA-BOENSE,3.1,553164.0,ÁGUA BOA,NaN,91910,130103,2.0
2,510025,ALTA FLORESTA,MT,346,51782.0,"8976,31",4.0,5100250.0,ALTA-FLORESTENSE,5.6,783132.0,ALTA FLORESTA,NaN,89877,130106,10.0
3,510030,ALTO ARAGUAIA,MT,347,19044.0,"5514,51",3.0,5100300.0,ARAGUAIANO,3.2,697331.0,ALTO ARAGUAIA,NaN,90050,130101,3.0
4,510035,ALTO BOA VISTA,MT,348,6822.0,"2240,45",2.0,5100359.0,ALTO BOA VISTENSE,2.7,56101.0,ALTO BOA VISTA,NaN,1279,130103,1.0

In [44]:
df_dados_ipea = pd.read_excel('src/dados_ipea/MT_Mun97_region.xls', sheet_name='PIB  municipal (2010)')
df_dados_ipea

,Código IBGE do Município,Código da Unidade da Federação,Sigla da Unidade da Federação,Nome das Grandes Regiões,Código IBGE da Mesoregião,Nome da Mesoregião,Código IBGE da Microregião,Nome da Microregião,Impostos sobre produtos líquidos de subsídios a preços correntes,PIB a preços correntes,PIB per capita a preços correntes,Valor adicionado bruto da agropecuária a preços correntes,Valor adicionado bruto da indústria a preços correntes,Valor adicionado bruto dos serviços a preços correntes
0,510010,51,MT,Centro-Oeste,5104,Centro-Sul Mato-grossense,51016,Rosßrio Oeste,2777,51865,9402.66,22385,3736,22967
1,510020,51,MT,Centro-Oeste,5102,Nordeste Mato-grossense,51010,Canarana,51299,418944,20099.00,88960,50791,227894
2,510025,51,MT,Centro-Oeste,5101,Norte Mato-grossense,51002,Alta Floresta,62146,690143,14017.89,165223,100192,362582
3,510030,51,MT,Centro-Oeste,5105,Sudeste Mato-grossense,51022,Alto Araguaia,126461,1163457,74247.43,104460,485334,447202
4,510035,51,MT,Centro-Oeste,5102,Nordeste Mato-grossense,51009,Norte Araguaia,2951,57908,11032.19,24353,4721,25884
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,510860,51,MT,Centro-Oeste,5102,Nordeste Mato-grossense,51009,Norte Araguaia,19291,291373,13613.65,104434,35915,131734
137,510880,51,MT,Centro-Oeste,5101,Norte Mato-grossense,51003,ColÝder,3070,55659,11292.11,24606,3575,24408
138,510885,51,MT,Centro-Oeste,5104,Centro-Sul Mato-grossense,51015,Alto Paraguai,5142,61051,20872.11,19120,17245,19545
139,510890,51,MT,Centro-Oeste,5101,Norte Mato-grossense,51005,Arinos,12431,186278,28266.83,103962,14644,55240
140,510895,51,MT,Centro-Oeste,5101,Norte Mato-grossense,51002,Alta Floresta,9125,155353,19207.83,79953,9365,56910

In [46]:
df_dados_ipea = df_dados_ipea[['Código IBGE do Município', 'Código IBGE da Microregião','Nome da Microregião']]
df_dados_ipea

     Código IBGE do Município  Código IBGE da Microregião Nome da Microregião
0                      510010                       51016       Rosßrio Oeste
1                      510020                       51010            Canarana
2                      510025                       51002       Alta Floresta
3                      510030                       51022       Alto Araguaia
4                      510035                       51009      Norte Araguaia
..                        ...                         ...                 ...
136                    510860                       51009      Norte Araguaia
137                    510880                       51003             ColÝder
138                    510885                       51015       Alto Paraguai
139                    510890                       51005              Arinos
140                    510895                       51002       Alta Floresta

[141 rows x 3 columns]

In [47]:
df_dados_ipea = df_dados_ipea[df_dados_ipea['Nome da Microregião']== 'Jauru']
df_dados_ipea

     Código IBGE do Município  Código IBGE da Microregião Nome da Microregião
11                     510125                       51014               Jauru
43                     510380                       51014               Jauru
46                     510395                       51014               Jauru
49                     510450                       51014               Jauru
56                     510500                       51014               Jauru
61                     510523                       51014               Jauru
67                     510562                       51014               Jauru
96                     510682                       51014               Jauru
101                    510710                       51014               Jauru
102                    510715                       51014               Jauru
105                    510720                       51014               Jauru
116                    510775                       51014               Jauru

In [50]:
df_dados_ipea = df_dados_ipea.rename(columns={'Código IBGE do Município':'CODIGO_DO_IBGE'})
df_dados_ipea

     CODIGO_DO_IBGE  Código IBGE da Microregião Nome da Microregião
11           510125                       51014               Jauru
43           510380                       51014               Jauru
46           510395                       51014               Jauru
49           510450                       51014               Jauru
56           510500                       51014               Jauru
61           510523                       51014               Jauru
67           510562                       51014               Jauru
96           510682                       51014               Jauru
101          510710                       51014               Jauru
102          510715                       51014               Jauru
105          510720                       51014               Jauru
116          510775                       51014               Jauru

In [54]:
df_municiopios_mt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143 entries, 0 to 142
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   MUN_CODIGO               143 non-null    int64
 1   MUN_NOME                 143 non-null    object
 2   UF_SIGLA                 143 non-null    object
 3   ID_IBGE                  143 non-null    int64
 4   POPULACAO                141 non-null    float64
 5   TERRITORIO               141 non-null    object
 6   GRUPO_POPULACAO          141 non-null    float64
 7   CODIGO_DO_IBGE           141 non-null    float64
 8   GENTILICO                141 non-null    object
 9   DENSIDADE_DEMOGRAFICA    141 non-null    float64
 10  SERIE_REVISADA           141 non-null    float64
 11  MUN_NOME_ORIGINAL        141 non-null    object
 12  COMPATIBILIDADE_RF       2 non-null      object
 13  CODIGO_DA_RF_01          143 non-null    int64
 14  CODIGO_DA_RF_02          143 non-null    int64
 15  CODIGO_MUNICIPIO_REGIAO  141 non-null    float64
dtypes: float64(6), int64(4), object(6)
memory usage: 18.0+ KB

In [51]:
df_municipios_com_id = df_municiopios_mt.merge(df_dados_ipea, on='CODIGO_DO_IBGE')

In [52]:
df_municipios_com_id

Empty DataFrame
Columns: [MUN_CODIGO, MUN_NOME, UF_SIGLA, ID_IBGE, POPULACAO, TERRITORIO, GRUPO_POPULACAO, CODIGO_DO_IBGE, GENTILICO, DENSIDADE_DEMOGRAFICA, SERIE_REVISADA, MUN_NOME_ORIGINAL, COMPATIBILIDADE_RF, CODIGO_DA_RF_01, CODIGO_DA_RF_02, CODIGO_MUNICIPIO_REGIAO, Código IBGE da Microregião, Nome da Microregião]
Index: []

In [26]:
df_ug_tce

,NOME_ENTIDADE,CNPJ_CPF_COD_TCE_ENTIDADE,CNPJ_DIREITO_PUBLICO,ATIVO,ESFERA,PREVIDENCIA
0,1123959,CAMARA MUNICIPAL DE BOM JESUS DO ARAGUAIA,S,N,4235199000198.0,M
1,1116391,FUNDO DE APERFEICOAMENTO DOS SERVICOS JURIDICO...,S,N,334094000135.0,E
2,1116615,PREFEITURA MUNICIPAL DE ALTO TAQUARI,S,N,1362680000156.0,M
3,1116623,CAMARA MUNICIPAL DE MIRASSOL DOESTE,S,N,3756178000155.0,M
4,1116698,CAMARA MUNICIPAL DE ALTO ARAGUAIA,S,N,1362664000163.0,M
...,...,...,...,...,...,...
714,1159524,AGENCIA REGULADORA DE SERVICOS PUBLICOS DELEGA...,S,N,27836166000107.0,M
715,1159557,FUNDO MUNICIPAL DE PREVIDENCIA SOCIAL DOS SERV...,S,S,31896120000142.0,M
716,1159540,SERVICO DE APOIO AS MICRO E PEQUENAS EMPRESAS ...,S,N,3534450000152.0,E
717,1159532,SECRETARIA MUNICIPAL EXTRAORDINARIA CUIABA 300...,S,N,3533064000146.0,M
718,1159565,AGENCIA REGULADORA DE SERVICOS PUBLICOS DELEGA...,S,N,33981065000114.0,M

In [27]:
df_ug_tce = df_ug_tce['CNPJ_CPF_COD_TCE_ENTIDADE'].str.lower()
df_ug_tce

0              camara municipal de bom jesus do araguaia
1      fundo de aperfeicoamento dos servicos juridico...
2                   prefeitura municipal de alto taquari
3                    camara municipal de mirassol doeste
4                      camara municipal de alto araguaia
                             ...
714    agencia reguladora de servicos publicos delega...
715    fundo municipal de previdencia social dos serv...
716    servico de apoio as micro e pequenas empresas ...
717    secretaria municipal extraordinaria cuiaba 300...
718    agencia reguladora de servicos publicos delega...
Name: CNPJ_CPF_COD_TCE_ENTIDADE, Length: 719, dtype: object

In [28]:
ser_rec_aux2 = pd.concat([auxilio_emergencial_vale_jauru_trat,resultado], axis=1 )
ser_rec_aux2

ValueError: Shape of passed values is (170984, 8), indices imply (27070, 8)

In [ ]:
salva_pref = ''
for i in df_ug_tce_sep:
    prefeitura = i.count('PREFEITURA ')
    print(prefeitura)
    #salva_pref += prefeitura