Primeiro passo importando as bibliotecas

In [85]:
import pandas as pd
import csv #importando csv
import requests

- A pesquisa ficou adestrita a região do vale do Jauru

- Região vale do Jauru

        Araputanga
        Figueirópolis d'Oeste
        Glória d'Oeste
        Indiavaí
        Jauru
        Lambari d'Oeste
        Mirassol d'Oeste
        Porto Esperidião
        Reserva do Cabaçal
        Rio Branco
        Salto do Céu
        São José dos Quatro Marcos

In [86]:

cidade_link = open('src/arquivos.csv')

implementa = csv.DictReader(cidade_link)
#a leitura só funcionara com os parametros abaixo com o parametro acimas

for inplemente in implementa:
    #lendo arquivo python para rastrear o separador
    carregar_separador = open(inplemente['link'],encoding='ISO-8859-1')
    separa = csv.Sniffer().sniff(carregar_separador.read())
    separador = separa.delimiter
    print("Tipo de separador definido foi --> ", separador)
    #---------------------------------------
    #dividindo municipio para colocar na variavel de nome    
    dividi_municipio = inplemente['municipio'].split(' ')# o codigo dividi o nome do municipio
    #----------------------------------------------
    
    # Carregando csv no pandas 
    servidores = pd.read_csv(inplemente['link']#chama o arquivo csv 
                             ,sep=separador #informa o separador do arquivo
                             ,encoding='ISO-8859-1', #informa a codificação do arquivo
                             error_bad_lines=False,
                             engine='python') #trata os erros nas linhas
    nome_variavel = 'servidores_{}'.format(dividi_municipio[0])     #alterando o nome da variavel
    globals()[nome_variavel] = servidores
    globals()[nome_variavel]['Municipio'] = inplemente['municipio']
    print(nome_variavel)
    print('-------------------------')

Tipo de separador definido foi -->  ,
servidores_Figueirópolis
-------------------------
Tipo de separador definido foi -->  ,
servidores_Figueirópolis
-------------------------
Tipo de separador definido foi -->  ;
servidores_Indiavaí
-------------------------
Tipo de separador definido foi -->  ;
servidores_Indiavaí
-------------------------
Tipo de separador definido foi -->  ;
servidores_Jauru
-------------------------
Tipo de separador definido foi -->  ;
servidores_Jauru
-------------------------
Tipo de separador definido foi -->  ;
servidores_Lambari
-------------------------
Tipo de separador definido foi -->  ;
servidores_Lambari
-------------------------
Tipo de separador definido foi -->  ;
servidores_Mirassol
-------------------------
Tipo de separador definido foi -->  ;
servidores_Mirassol
-------------------------
Tipo de separador definido foi -->  ;
servidores_Porto
-------------------------
Tipo de separador definido foi -->  ;
servidores_Porto
-------------------------
Tipo de separador definido foi -->  ;
servidores_Reserva
-------------------------
Tipo de separador definido foi -->  ;
servidores_Reserva
-------------------------
Tipo de separador definido foi -->  ;
servidores_Rio
-------------------------
Tipo de separador definido foi -->  ;
servidores_Rio
-------------------------
Tipo de separador definido foi -->  ;
servidores_Salto
-------------------------
Tipo de separador definido foi -->  ;
servidores_Salto
-------------------------
Tipo de separador definido foi -->  ;
servidores_São
-------------------------
Tipo de separador definido foi -->  ;
servidores_São
-------------------------
Tipo de separador definido foi -->  ;
servidores_Araputanga
-------------------------

- foi necessario criar uma variavel com todos os servidores dos municipios da região oeste

In [87]:
servidores_municipio_região_oeste = servidores_Lambari, servidores_Indiavaí, servidores_Jauru, servidores_Mirassol, servidores_Porto, servidores_Reserva, servidores_São, servidores_Figueirópolis,servidores_Salto, servidores_Rio, servidores_Araputanga

In [88]:
resultado = pd.concat(servidores_municipio_região_oeste)
#salvando os dados dos servidores da região oeste em CSV
resultado.to_csv('servidores_selecionado.csv')

In [89]:
#exibindo os dados referente a região oeste 
resultado.head()

,Detalhe,Referência,Matrícula,Data Desligamento,Tipo de Contrato,Vínculo,Nome,Cargo,Cargo inicial,Proventos,Descontos,Líquido,Divisão,Subdivisão,Unidade,Categoria Funcional,Data Prevista Termino Contrato,Municipio,Data Admissão
0,NaN,Folha Mensal - Maio,195.0,NaN,Efetivo,Servidor Público Efetivo,ADIR DE SOUZA LEITE,FISCAL SANITARIO,FISCAL SANITARIO,"2.385,40","279,31","2.106,09",SECRETARIA MUNICIPAL DE SAUDE,FUNDO MUNICIPAL DE SAUDE,MAUNT.ENC.FUNDO MUNICIPAL E SAUDE - EFETIVO,EFETIVO,NaN,Lambari d'Oeste,NaN
1,NaN,Folha Mensal - Maio,1810.0,NaN,Efetivo,Servidor Público Efetivo,ADRIANA APARECIDA LUIZ SEGANTINI,TECNICO EM ENFERMAGEM,TECNICO EM ENFERMAGEM,"3.215,66","708,42","2.507,24",SECRETARIA MUNICIPAL DE SAUDE,FUNDO MUNICIPAL DE SAUDE,MAUNT.ENC.FUNDO MUNICIPAL E SAUDE - EFETIVO,EFETIVO,NaN,Lambari d'Oeste,NaN
2,NaN,Folha Mensal - Maio,2.0,NaN,Efetivo,Servidor Público Efetivo,AILTON ALMEIDA PEREIRA,OPERADOR DE MAQUINAS,OPERADOR DE MAQUINAS,"2.956,45","409,31","2.547,14",SEC. MUN. DE INFRA ESTRUTURA,DPTO DE VIACAO E OBRAS,MANUT.ENC. SEC MUN. DE INFRA ESTRUTURA-EFETIVO,EFETIVO,NaN,Lambari d'Oeste,NaN
3,NaN,Folha Mensal - Maio,267.0,NaN,Contrato Temporário,Contrato Prazo Determ. (RJU),ALDAIR DIAS MARTINS,AGENTE COMUNITARIO DE SAUDE,AGENTE COMUNITARIO DE SAUDE,"1.600,00","134,97","1.465,03",SECRETARIA MUNICIPAL DE SAUDE,FUNDO MUNICIPAL DE SAUDE,MAN.PROG. AGENTES COMUNIT DE SAUDE-PACS - CONT...,CONTRATADO,NaN,Lambari d'Oeste,NaN
4,NaN,Folha Mensal - Maio,2318.0,NaN,Contrato Temporário,Contrato Prazo Determ. (RJU),ALINE BATISTA DE SOUZA,PROFESSOR NIVEL SUPERIOR-06 H,PROFESSOR NIVEL SUPERIOR-06 H,"772,58","57,94","714,64",SEC. MUN. DE EDUCACAO E CULTURA,FUNDEB,MANUT. FUNDEB 60% CONTRATADO,CONTRATADO,NaN,Lambari d'Oeste,NaN

In [90]:
# Objetivo ->    Separando os dados desejados
# Motivo   ->    A tabela estava muito populada com dados que não eram necessarios
# Ação     ->    Ver quais tabelas são necessarias e isolar somente a elas    
resultado = resultado[['Nome', 'Cargo', 'Cargo inicial', 'Municipio']]
resultado.head()

,Nome,Cargo,Cargo inicial,Municipio
0,ADIR DE SOUZA LEITE,FISCAL SANITARIO,FISCAL SANITARIO,Lambari d'Oeste
1,ADRIANA APARECIDA LUIZ SEGANTINI,TECNICO EM ENFERMAGEM,TECNICO EM ENFERMAGEM,Lambari d'Oeste
2,AILTON ALMEIDA PEREIRA,OPERADOR DE MAQUINAS,OPERADOR DE MAQUINAS,Lambari d'Oeste
3,ALDAIR DIAS MARTINS,AGENTE COMUNITARIO DE SAUDE,AGENTE COMUNITARIO DE SAUDE,Lambari d'Oeste
4,ALINE BATISTA DE SOUZA,PROFESSOR NIVEL SUPERIOR-06 H,PROFESSOR NIVEL SUPERIOR-06 H,Lambari d'Oeste

# Objetivo
- Baixar dados do auxilio de forma descentralizada

#### FONTE DE DADOS
- SITE BRASIL IO 
* https://brasil.io/dataset/govbr/auxilio_emergencial/

#### METODO
- baixar os dados por municipios e salvar
- **DIFICULDADES**
    - O ARQUIVO VINHA COM MASCARA ENTÃO ORDENOU POR NUMERO PARA IMPLEMENTAR UMA BUSCA COM O FOR

Implementando codigo para unir dados baixados do site brasil io

In [91]:
for i in range(1,12):
    print('df'+str(i))
    df = pd.read_csv("src/dados_brasil_io/govbr-{}.csv".format(i))
    nome_variavel = 'df{}'.format(i)
    globals()[nome_variavel] = df

df1
df2
df3
df4
df5
df6
df7
df8
df9
df10
df11

**Unindo os dataframes**

In [92]:
auxilio_emergencial = df1, df2, df3, df4, df5, df6, df7, df8, df9, df10 ,df11
auxilio_emergencial_vale_jauru = pd.concat(auxilio_emergencial)

In [93]:
auxilio_emergencial_vale_jauru

,ano_mes,uf,municipio,nis_beneficiario,cpf_beneficiario,beneficiario,nis_responsavel,cpf_responsavel,responsavel,enquadramento,parcela,valor
0,202005,MT,Indiavaí,NaN,***200171**,ADELSON GOMES SILVA,-2,NaN,NaN,EXTRA CADUN,1,600.0
1,202005,MT,Indiavaí,NaN,***397728**,ALINE DIAS MAGALHAES,-2,NaN,NaN,EXTRA CADUN,1,600.0
2,202005,MT,Indiavaí,NaN,***996641**,ANA PAULA DA SILVA PRATES,-2,NaN,NaN,EXTRA CADUN,1,600.0
3,202005,MT,Indiavaí,NaN,***040361**,ANDERSON AUGUSTO DOS SANTOS,-2,NaN,NaN,EXTRA CADUN,1,600.0
4,202005,MT,Indiavaí,NaN,***887201**,ANDREIA PIRES BORGES,-2,NaN,NaN,EXTRA CADUN,1,1200.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1295,202004,MT,Rio Branco,NaN,***923871**,ZENAIDE VITTORAZZI RIOS,-2,NaN,NaN,EXTRA CADUN,1,1200.0
1296,202004,MT,Rio Branco,2.041920e+10,***364651**,ZENILDA MARQUES DE OLIVEIRA,20419196956,***364651**,ZENILDA MARQUES DE OLIVEIRA,BOLSA FAMILIA,1,600.0
1297,202004,MT,Rio Branco,2.041919e+10,***969521**,ZILDA ANDRADE DE ASSIS,20419186373,***969521**,ZILDA ANDRADE DE ASSIS,BOLSA FAMILIA,1,1200.0
1298,202004,MT,Rio Branco,2.092871e+10,***295061**,ZILDA SANTOS DE OLIVEIRA,-2,NaN,NaN,CADUN NAO BOLSA,1,600.0
1299,202004,MT,Rio Branco,2.005910e+10,***462501**,ZUMIRA DE OLIVEIRA CUNHA,20059096548,***462501**,ZUMIRA DE OLIVEIRA CUNHA,BOLSA FAMILIA,1,600.0

In [94]:
auxilio_emergencial_vale_jauru = auxilio_emergencial_vale_jauru.rename(columns={'beneficiario':'Nome'})
auxilio_emergencial_vale_jauru.head()

,ano_mes,uf,municipio,nis_beneficiario,cpf_beneficiario,Nome,nis_responsavel,cpf_responsavel,responsavel,enquadramento,parcela,valor
0,202005,MT,Indiavaí,NaN,***200171**,ADELSON GOMES SILVA,-2,NaN,NaN,EXTRA CADUN,1,600.0
1,202005,MT,Indiavaí,NaN,***397728**,ALINE DIAS MAGALHAES,-2,NaN,NaN,EXTRA CADUN,1,600.0
2,202005,MT,Indiavaí,NaN,***996641**,ANA PAULA DA SILVA PRATES,-2,NaN,NaN,EXTRA CADUN,1,600.0
3,202005,MT,Indiavaí,NaN,***040361**,ANDERSON AUGUSTO DOS SANTOS,-2,NaN,NaN,EXTRA CADUN,1,600.0
4,202005,MT,Indiavaí,NaN,***887201**,ANDREIA PIRES BORGES,-2,NaN,NaN,EXTRA CADUN,1,1200.0

In [96]:
# Objetivo ->    Separando os dados desejados
# Motivo   ->    A tabela estava muito populada com dados que não eram necessarios
# Ação     ->    Ver quais tabelas são necessarias e isolar somente a elas    
resultado = resultado[['Nome', 'Cargo', 'Cargo inicial', 'Municipio']]
auxilio_emergencial_vale_jauru_trat =auxilio_emergencial_vale_jauru[['municipio', 'cpf_beneficiario', 'enquadramento', 'Nome']]

In [98]:
ser_rec_aux = auxilio_emergencial_vale_jauru_trat.merge(resultado, on='Nome')

In [99]:
ser_rec_aux.head()

,municipio,cpf_beneficiario,enquadramento,Nome,Cargo,Cargo inicial,Municipio
0,Indiavaí,***200171**,EXTRA CADUN,ADELSON GOMES SILVA,ASSESSOR SUPERIOR I,ASSESSOR SUPERIOR I,Indiavaí
1,Indiavaí,***193421**,CADUN NAO BOLSA,EDILSON SOARES DE SOUZA,Gerencia de Cultura e Turismo,Gerencia de Cultura e Turismo,Indiavaí
2,Indiavaí,***692341**,EXTRA CADUN,JOSE CARLOS DA SILVA,GUARDA NOTURNO,GUARDA NOTURNO,Salto do Céu
3,São José dos Quatro Marcos,***553991**,BOLSA FAMILIA,JOSE CARLOS DA SILVA,GUARDA NOTURNO,GUARDA NOTURNO,Salto do Céu
4,São José dos Quatro Marcos,***791901**,BOLSA FAMILIA,JOSE CARLOS DA SILVA,GUARDA NOTURNO,GUARDA NOTURNO,Salto do Céu

# Observações
- Conforme observa-se na busca há servidores que tem mesmo nome (homonimos) em diversas Unidade Gestoras dessa forma faz-se necessario fazer uma comparação no mesmo municipio.
- tem como objetivo isolar servidores pelo municipio que mesmo recebeu o auxilio e assim poder realmente comparar.
- Há formula abaixo não evita homonimos mas minimiza

In [102]:
# Abreviatura
# ser_rec_aux_mun  = Servidores que receberan Auxilio Emergencial por municipio
ser_rec_aux_mun = ser_rec_aux[ser_rec_aux['municipio'] == ser_rec_aux['Municipio']]
ser_rec_aux_mun.head()

,municipio,cpf_beneficiario,enquadramento,Nome,Cargo,Cargo inicial,Municipio
0,Indiavaí,***200171**,EXTRA CADUN,ADELSON GOMES SILVA,ASSESSOR SUPERIOR I,ASSESSOR SUPERIOR I,Indiavaí
1,Indiavaí,***193421**,CADUN NAO BOLSA,EDILSON SOARES DE SOUZA,Gerencia de Cultura e Turismo,Gerencia de Cultura e Turismo,Indiavaí
10,Indiavaí,***361201**,CADUN NAO BOLSA,REGINA DOS SANTOS JACINTO,CONSELHEIRO TUTELAR,CONSELHEIRO TUTELAR,Indiavaí
11,Porto Esperidião,***512091**,EXTRA CADUN,ELIMARA TOSSUE SOARES,PROFESSOR - NIVEL I - ENS.MEDIO,PROFESSOR - NIVEL I - ENS.MEDIO,Porto Esperidião
12,Porto Esperidião,***086441**,EXTRA CADUN,JOSE VANDER URUPE MASSAVI,PROFESSOR - NIVEL I - ENS.MEDIO,PROFESSOR DE NIVEL I,Porto Esperidião

In [104]:
ser_rec_aux_mun.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111 entries, 0 to 236
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   municipio         111 non-null    object
 1   cpf_beneficiario  111 non-null    object
 2   enquadramento     111 non-null    object
 3   Nome              111 non-null    object
 4   Cargo             111 non-null    object
 5   Cargo inicial     111 non-null    object
 6   Municipio         111 non-null    object
dtypes: object(7)
memory usage: 6.9+ KB

In [108]:
ser_rec_aux_mun.head(60)

,municipio,cpf_beneficiario,enquadramento,Nome,Cargo,Cargo inicial,Municipio
0,Indiavaí,***200171**,EXTRA CADUN,ADELSON GOMES SILVA,ASSESSOR SUPERIOR I,ASSESSOR SUPERIOR I,Indiavaí
1,Indiavaí,***193421**,CADUN NAO BOLSA,EDILSON SOARES DE SOUZA,Gerencia de Cultura e Turismo,Gerencia de Cultura e Turismo,Indiavaí
10,Indiavaí,***361201**,CADUN NAO BOLSA,REGINA DOS SANTOS JACINTO,CONSELHEIRO TUTELAR,CONSELHEIRO TUTELAR,Indiavaí
11,Porto Esperidião,***512091**,EXTRA CADUN,ELIMARA TOSSUE SOARES,PROFESSOR - NIVEL I - ENS.MEDIO,PROFESSOR - NIVEL I - ENS.MEDIO,Porto Esperidião
12,Porto Esperidião,***086441**,EXTRA CADUN,JOSE VANDER URUPE MASSAVI,PROFESSOR - NIVEL I - ENS.MEDIO,PROFESSOR DE NIVEL I,Porto Esperidião
...,...,...,...,...,...,...,...
232,Jauru,***852701**,EXTRA CADUN,MATHEUS AGUILAR DO CARMO,FISIOTERAPEUTA,FISIOTERAPEUTA,Jauru
233,Jauru,***217791**,BOLSA FAMILIA,SERGIO DE PAULA SILVA,MOTORISTA II,MOTORISTA II,Jauru
234,Jauru,***744281**,CADUN NAO BOLSA,SOLANGELA APARECIDA DA SILVA,AUXILIAR DE SAUDE BUCAL,AUXILIAR DE SAUDE BUCAL,Jauru
235,Jauru,***498548**,EXTRA CADUN,VANESSA ANDRADE SEGOBIA,FISCAL DE POSTURAS E OBRAS,FISCAL DE POSTURAS E OBRAS,Jauru
236,Jauru,***503821**,CADUN NAO BOLSA,VANGERLINO SOARES DE QUEIROZ,MOTORISTA II,MOTORISTA II,Jauru

In [ ]:
df_municipios = pd.read_csv('src/arquivos.csv')
df_ug_tce = pd.read_csv('src/dados_tce_mt/APLIC/UG.csv', sep=';')

In [ ]:
df_ug_tce = df_ug_tce.apply(lambda x: x.astype(str).str.upper())

In [ ]:
df_municipios = df_municipios['municipio']

In [ ]:
df_municipios_unico = df_municipios.unique()
df_municipios_unico

In [ ]:
df_dados_ipea = pd.read_excel('src/dados_ipea/MT_Mun97_region.xls', sheet_name='PIB  municipal (2010)')
df_dados_ipea

In [ ]:
df_dados_ipea = df_dados_ipea[['Código IBGE do Município', 'Código IBGE da Microregião','Nome da Microregião']]
df_dados_ipea

In [ ]:
df_dados_ipea = df_dados_ipea[df_dados_ipea['Nome da Microregião']== 'Jauru']
df_dados_ipea

In [ ]:
df_ug_tce

In [ ]:
df_ug_tce = df_ug_tce['CNPJ_CPF_COD_TCE_ENTIDADE'].str.lower()
df_ug_tce

In [ ]:
ser_rec_aux2 = pd.concat([auxilio_emergencial_vale_jauru_trat,resultado], axis=1 )
ser_rec_aux2

In [ ]:
salva_pref = ''
for i in df_ug_tce_sep:
    prefeitura = i.count('PREFEITURA ')
    print(prefeitura)
    #salva_pref += prefeitura